.body {
   background-color: rgb(236, 143, 29);
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
 }
 .box5{
    grid-column-start: 1;
    grid-column-end:4 ;
    text-align: center;
    
    
 }
 .box2 {
    text-align: center;
    color: rgba(7, 9, 10, 0.973);
    border: 2px solid  black;
    

 }
 .box3{
    text-align: center;
    color: rgb(2, 3, 3);
    border: 2px solid black;
 }
 .box4 {
  color: rgb(4, 7, 7);
   text-align: center;
   border: 2px solid black;

    
 }
 .box5 {
    text-align: center;
 }